In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('winequality-red.csv')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [41]:
ipython notebook --pylab=inline

SyntaxError: invalid syntax (Temp/ipykernel_6644/4239166656.py, line 1)

In [9]:
%matplotllib inline

UsageError: Line magic function `%matplotllib` not found.

In [6]:
import seaborn as sns
sns.scatterplot(data=df, x='fixed acidity',y='density')

In [7]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
new_data=scaler.fit_transform(df.drop(labels=['quality'],axis=1))

In [11]:
new_data

array([[-0.52835961,  0.96187667, -1.39147228, ...,  1.28864292,
        -0.57920652, -0.96024611],
       [-0.29854743,  1.96744245, -1.39147228, ..., -0.7199333 ,
         0.1289504 , -0.58477711],
       [-0.29854743,  1.29706527, -1.18607043, ..., -0.33117661,
        -0.04808883, -0.58477711],
       ...,
       [-1.1603431 , -0.09955388, -0.72391627, ...,  0.70550789,
         0.54204194,  0.54162988],
       [-1.39015528,  0.65462046, -0.77526673, ...,  1.6773996 ,
         0.30598963, -0.20930812],
       [-1.33270223, -1.21684919,  1.02199944, ...,  0.51112954,
         0.01092425,  0.54162988]])

In [12]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [13]:
scale_data=pd.DataFrame(new_data,columns=['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar','chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density','pH', 'sulphates', 'alcohol'])

In [14]:
scale_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246

In [15]:
from pandas_profiling import ProfileReport
profile = ProfileReport(scale_data, title="Pandas Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [16]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [17]:
columns=['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol']

In [18]:
new_df=pd.DataFrame(data=new_data,columns=columns)

In [19]:
new_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246

In [20]:
x=new_df
y=df['quality']

In [21]:
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246

In [22]:
y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [30]:
from  sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.33, random_state=101)

In [31]:
from sklearn.svm import SVC

In [32]:
model=SVC()

In [33]:
model.fit(train_x,train_y)

SVC()

In [34]:
model.predict(test_x)

array([5, 5, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 5, 7, 5, 5, 6, 6, 6,
       5, 5, 5, 5, 5, 6, 7, 5, 5, 5, 6, 5, 5, 6, 6, 6, 5, 5, 7, 5, 6, 6,
       6, 6, 6, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 7, 5, 5, 5, 5, 5, 6,
       5, 5, 5, 6, 5, 6, 6, 5, 5, 6, 6, 6, 5, 7, 5, 6, 5, 5, 6, 5, 5, 6,
       5, 5, 6, 6, 5, 5, 7, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 6, 5, 6,
       5, 5, 5, 6, 5, 6, 6, 5, 5, 5, 6, 5, 5, 6, 6, 5, 6, 5, 5, 6, 5, 5,
       6, 6, 5, 7, 5, 6, 6, 6, 5, 6, 5, 5, 5, 7, 6, 6, 6, 5, 6, 6, 5, 6,
       6, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 6, 7, 6, 7, 5, 5, 6, 6, 5, 6, 6,
       6, 6, 6, 5, 6, 6, 5, 5, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 5,
       6, 6, 5, 6, 6, 7, 6, 5, 6, 6, 6, 6, 6, 5, 7, 5, 5, 7, 5, 6, 5, 5,
       6, 7, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 6, 5, 5, 6, 6, 6,
       6, 5, 5, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 5, 6, 5, 6, 7, 5, 7, 5, 5,
       5, 6, 5, 5, 6, 7, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 7, 5, 6,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 7, 5, 5, 5, 6, 5, 6, 6,
       5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 5, 7, 5, 7, 6, 5, 5, 5,
       7, 5, 5, 6, 7, 5, 5, 5, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 6, 6,
       6, 6, 7, 7, 6, 6, 6, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 7, 5, 6, 6,
       5, 6, 7, 7, 6, 6, 5, 7, 5, 5, 5, 6, 5, 5, 6, 6, 7, 6, 4, 5, 6, 6,
       6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 7, 6, 5, 5, 6, 5, 6,
       5, 5, 5, 6, 5, 5, 5, 5, 6, 7, 6, 6, 7, 7, 5, 6, 6, 5, 6, 5, 5, 6,
       6, 7, 6, 6, 5, 6, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 5, 5,
       5, 5, 6, 4, 5, 5, 5, 5, 5, 7, 6, 5, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6,
       6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6,
       6, 6, 5, 6, 5, 6, 6, 5, 6, 5, 7, 5, 5, 6, 6, 5, 5, 5, 6, 6, 6, 5],
      dtype=int64)

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(test_y,model.predict(test_x))

0.6041666666666666

In [38]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(train_x,train_y)

C:\Users\Tushar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [39]:
clf.predict(test_x)

array([5, 5, 5, 5, 6, 7, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 7, 5, 5, 6, 6, 6,
       5, 6, 6, 5, 5, 6, 7, 5, 5, 5, 6, 5, 5, 6, 6, 6, 5, 5, 7, 5, 6, 6,
       6, 6, 6, 7, 5, 5, 6, 6, 5, 5, 6, 6, 6, 6, 7, 7, 5, 5, 5, 6, 5, 6,
       5, 6, 5, 6, 5, 6, 6, 6, 5, 7, 5, 6, 5, 7, 5, 6, 5, 5, 6, 5, 5, 6,
       5, 5, 7, 6, 5, 5, 7, 5, 5, 6, 5, 6, 5, 6, 5, 6, 5, 5, 6, 6, 5, 6,
       5, 6, 5, 6, 5, 6, 6, 5, 5, 5, 6, 6, 5, 7, 6, 5, 6, 5, 6, 6, 5, 5,
       6, 6, 5, 7, 5, 6, 6, 7, 5, 6, 5, 5, 5, 7, 6, 6, 6, 5, 6, 6, 5, 6,
       5, 5, 5, 5, 6, 5, 5, 5, 6, 5, 6, 6, 7, 6, 6, 6, 5, 6, 7, 5, 6, 6,
       7, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 5,
       6, 6, 5, 6, 6, 7, 6, 5, 6, 6, 6, 6, 6, 5, 7, 5, 5, 7, 5, 6, 5, 5,
       5, 7, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 5, 5, 6, 6, 6,
       6, 5, 5, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 5, 6, 5, 6, 7, 5, 7, 5, 6,
       5, 6, 5, 5, 6, 7, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6,
       5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 7, 5, 5, 5, 6, 6, 6, 6,
       5, 6, 6, 6, 5, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 7, 6, 7, 6, 5, 5, 5,
       7, 5, 5, 6, 7, 5, 4, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6,
       6, 7, 7, 7, 7, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 5, 7, 5, 5, 6,
       5, 6, 7, 7, 6, 6, 5, 7, 5, 5, 6, 6, 6, 5, 6, 6, 7, 6, 3, 5, 6, 6,
       6, 5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 7, 6, 5, 5, 6, 5, 6,
       4, 5, 5, 5, 5, 5, 5, 5, 6, 7, 6, 6, 7, 7, 5, 6, 6, 5, 6, 5, 6, 6,
       6, 7, 5, 7, 5, 6, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 5, 5,
       5, 5, 6, 3, 5, 5, 5, 5, 5, 7, 5, 5, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6,
       6, 5, 7, 5, 5, 5, 5, 6, 5, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 6, 6, 6,
       6, 6, 4, 5, 5, 6, 6, 5, 6, 5, 7, 5, 5, 6, 6, 5, 5, 6, 6, 6, 6, 5],
      dtype=int64)

In [40]:
accuracy_score(test_y,clf.predict(test_x))

0.5757575757575758